form input,textarea{
    border-radius: 0.6rem;
    border:1.5px solid #6751b9;
    padding: 1rem;
    background: #130f2a;
    font-size:0.9rem;
    color:#fff;
    width: 100%;
}
h2{
    color:#8064e8;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

body{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
form button{
    font-size:1rem;
    font-weight: 600;
    color:#fff;
    border:1.5px solid #a892fe;
    border-radius: 0.6rem;
    background: linear-gradient(90deg,#a892fe 0%,#8064e8 100%);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
form button:hover{
    color:#6751b9;
    background: transparent;
}
@media (max-width: 690px) {
.hidden-mobile{
display:hidden;
}
}