.nav-wrapper {
    background: rgb(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 0.2rem 0;
    backdrop-filter: blur(50px);

}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;

}



.nav-content ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-content li {
    padding: 0 1.5rem;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffff;
    position: relative;
    cursor: pointer;

}

.menu-item::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translatex(-1.5rem);
    transition: all 0.3s ease;

}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #ffff;
    background: linear-gradient(90deg, #a993fe -0.13%, #7e61e7 99.87%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3,p,span,a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hire-btn{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  
    color: #ffff;
    background: linear-gradient(90deg, #a993fe -0.13%, #7e61e7 99.87%);
   
    cursor: pointer;
    transition: all 0.4s ease;
    
}

.menu-btn:hover {
    color: #a993fe;
    background: #000;
    border: 1px solid #a993fe;
}

@media(max-width:769px) {
    .menu-btn {
        display: block;
    }

    .nav-content ul {
        display: none;
    }
}

@media(max-width:1325px) {
    .nav-wrapper {
        padding: 0 2rem;
    }
}